<header class="mb-auto">
  <div class="d-flex justify-content-between align-items-center">
    <h3 class="float-md-start mb-0">
      <a class="btn fs-2 text-white fw-bold" href="/">DashPro</a>
    </h3>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <% if (authUser) { %>
      <div class="d-flex align-items-center">
        <p class="m-0 me-2">Welcome : <%= authUser.email %></p>
        <a class="fw-bold btn btn-light" href="/signout">Sign out</a>
      </div>

      <% } else { %>

      <a
        class="fw-bold btn <%= currentPage === 'login' ? 'btn-light' : '' %>"
        href="/login"
        >Log in</a
      >
      <a
        class="fw-bold btn <%= currentPage === 'signup' ? 'btn-light' : '' %>"
        href="/signup"
        >Sign up</a
      >
      <% } %>
    </nav>
  </div>
</header>
